@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0f4;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header{
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
    color: #f4f0f4;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: black;
    font-size: 1.2rem;
}
input[type = "radio"], input[type="checkbox"]{
   accent-color: #798279;
}

input[type="text"], input[type="password"], input[type="date"],input[type="email"]{
    width: 70%;
    padding: 0.6rem;
    border: 2px solid #ccd595;
    outline: none;
    border-radius: 5px;
    background-color: white;
}

select{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
}

img{
    width: 5rem;
    border-radius:  5px;
}

table{
 
    border-collapse: collapse;
    width: 90%;
}

th{
    background-color: #ccd595;
    color: black;
    padding: 1rem;
    
}

td{
    color: black;
    padding: 0.6rem;
    text-align: center;
    
}

tfoot td{
    text-align: center;
    background-color: #798252;
    color: white;
}

details{
    background-color: #ccd595;
    border-radius: 5px;
    padding: 1rem;
}
summary{
    color: #331f19;
    margin: 0.5rem;
    cursor: pointer;
}

ol{
    margin-left:1rem;
}

ol li{
    color: #331f19;
    padding: 0.4rem;
}

fieldset{

    border: 2px solid #798252;
    border-radius: 5px;
    padding: 1rem;  
}

legend{
    color: #331f19;
    padding: 0 0.5rem; 
}
textarea{
    background-color: white;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccd595;
}

button{
    background-color: #ccd595;
    outline: none;
    border-radius: 5px;
    border: 2px;
    padding: 1rem;
    cursor: pointer;
    
}


footer{
    padding: 2rem;
    text-align: center;
    background-color: #331f19;
    color: white;
    
}

footer a{
    color: #ccd595;
    text-decoration: nome;
}
